.menu
  margin 0
  padding-left 0
  list-style none

  &__item
    margin 0 2px 0 0
    padding 0 0 2px 13px
    background url('/images/14.gif') no-repeat 3px 4px
    margin-bottom .3em

  &__link
    font-family Tahoma, Arial, Helvetica
    color #444444
    &:link
    &:visited
      text-decoration none
    &:active
    &:hover
      text-decoration underline
