extends ../layouts/application

include ../shared/category_item

block title
  = pageTitle

block content
  .category-list
    each newsItem in news
      .category-list__item
        +category_item(newsItem)