table.layout__header(cellspacing='0' cellpadding='0' width='100%' border='0')
  tbody
    tr
      td
        img(src='/assets/images/themes/lod/banner-left.jpg' width=685 height=220)
      td(width='100%' bgcolor='#000000')
      td
        img(src='/assets/images/themes/lod/banner-right.jpg' width=488 height=220)