table.layout__header(cellspacing='0' cellpadding='0' width='100%' border='0')
  tbody
    tr
      td
        img(src='/assets/images/themes/old/banner-left.jpg' width=409 height=151 alt='Логотип в Шаной')
      td(width='100%' bgcolor='#000000')
      td
        img(src='/assets/images/themes/old/banner-right.jpg' width=319 height=151 alt='Логотип с названием сайта')