table.layout__header(cellspacing='0' cellpadding='0' width='100%' border='0')
  tbody
    tr
      td
        img(src='/assets/images/themes/sns/banner-left.jpg' width=478 height=181 alt='Логотип с Шаной')
      td(width='100%' bgcolor='#000000')
      td
        img(src='/assets/images/themes/sns/banner-right.jpg' width=550 height=181 alt='Логотип с названием сайта')