table(cellspacing='0' cellpadding='0' width='200' border='0')
  tr
    td(align='center' style="background: url('/images/left.jpg') #000; height: 24px; color: #FFF;")
      block title_sideblock
  tr
    td(style="background: url('/images/5.gif') #FFF;padding:5px;border:3px double #FFF;")
      block body_sideblock