mixin stars_rating(score, votes)
  ul#uStarRating85.uStarRating85.u-star-rating-12(title=`Рейтинг: ${(Math.round(score * 100) / 100).toFixed(1)}/${votes}`)
    li#uCurStarRating85.u-current-rating.uCurStarRating85(style=`width:${score * 20}%`)