extends ../layouts/application

block title
  = pageTitle

block content
  br
  center С помощью формы обратной связи вы можете связаться с администратором сайта.
  br
  br
  script(type='text/javascript' src='http://silver-dragoon.ucoz.ru/mail/1/')
  br