extends ../sidebar_block

block title_sideblock
  b Администрация сайта

block body_sideblock
  center
    b SilverDragoon - Админ:
    br
    img(src='/assets/images/icq.gif' border=0 alt='Отправить сообщение' vspace=3 hspace=2)
    | &nbsp;- ICQ - 423409962 -&nbsp;
    img(src='/assets/images/icq.gif' border=0 alt='Отправить сообщение' vspace=3 hspace=2)
    br
    a(href='http://vk.com/artdanshin')
      img(src='/assets/images/vk.png' border=0 alt='Отправить сообщение' vspace=3 hspace=2)
      = ' - Vk.com - silver_dragoon - '
      img(src='/assets/images/vk.png' border=0 alt='Отправить сообщение' vspace=3 hspace=2)