extends ../sidebar_block

block title_sideblock
  b Часы / Календарь

block body_sideblock
  center
    embed(style='width: 150px; height: 150px' pluginspage='http://www.macromedia.com/go/getflashplayer' src='/clockcalendar.swf' width=150 height=150 type='application/x-shockwave-flash' quality='high' wmode='transparent' menu='false')
