extends ../sidebar_block

block title_sideblock
  b The Legend of Dragoon

block body_sideblock
  ul.menu
    li.menu__item
      a.menu__link(href='/lod/') Информация о игре
    li.menu__item
      a.menu__link(href='/articles/lod') Статьи и прохождения
    li.menu__item
      a.menu__link(href='/lod/worldmap') Карта мира
    li.menu__item
      a.menu__link(href="javascript:void%20Menu('3')" style='text-decoration: none') Галерея
      #3(style='display: none')
        br
        ul.menu
          li.menu__item
            a.menu__link(href='/gallery/lod-wallpaper/1') Обои по игре
          li.menu__item
            a.menu__link(href='/gallery/dart-red-dragoon/1') Дарт(Red Dragoon)
          li.menu__item
            a.menu__link(href='/gallery/lavitc-jade-dragoon/1') Лавитц(Jade Dragoon)
          li.menu__item
            a.menu__link(href='/gallery/shana-silver-dragoon/1') Шана(Silver Dragoon)
          li.menu__item
            a.menu__link(href='/gallery/rose-darkness-dragoon/1') Rose(Darkness Dragoon)
          li.menu__item
            a.menu__link(href='/gallery/hashel-violet-dragoon/1') Хашель (Violet Dragoon)
          li.menu__item
            a.menu__link(href='/gallery/albert-jade-dragoon/1') Альберт(Jade Dragoon)
          li.menu__item
            a.menu__link(href='/gallery/meru-blue-sea-dragoon/1') Меру(Blue-Sea Dragoon)
          li.menu__item
            a.menu__link(href='/gallery/kongol-golden-dragoon/1') Конгол (Golden Dragoon)
          li.menu__item
            a.menu__link(href='/gallery/miranda-silver-dragoon/1') Миранда(Silver Dragoon)
          li.menu__item
            a.menu__link(href='/gallery/other-heroes/1') Другие герои
          li.menu__item
            a.menu__link(href='/gallery/endiness-world/1') Мир Endiness и окрестности
          li.menu__item
            a.menu__link(href='/gallery/posters/1') Постеры
          li.menu__item
            a.menu__link(href='/gallery/promo-cd-merc/1') Промо, CD, Фигурки и т.п.
          li.menu__item
            a.menu__link(href='/gallery/fan-art-lod/1') Фан-арт по игре
          li.menu__item
            a.menu__link(href='/gallery/logo/1') Логотип
    li.menu__item
      a.menu__link(href="javascript:void%20Menu('4')" style='text-decoration: none') Видео раздел
      #4(style='display: none')
        br
        ul.menu
          li.menu__item
            a.menu__link(href='/video/lod-gamevideo/1') Ролики из игры
          li.menu__item
            a.menu__link(href='/video/lod-amv/1') AMV клипы
    li.menu__item
      a.menu__link(href='/files/detail/29-lod-music') Музыкальный раздел
    li.menu__item
      a.menu__link(href='/files/lod-psp/1') Файловый архив
    li.menu__item
      a.menu__link(href='/lod/faq') FAQ по прохождению
