extends ../sidebar_block

block title_sideblock
  b Меню

block body_sideblock
  ul.menu
    li.menu__item
      a.menu__link(href='/') Главная страница
    li.menu__item
      a.menu__link(href='/projects') Информация о проектах сайтов
    li.menu__item
      a.menu__link(href='http://silver-dragoon.ucoz.ru/forum/') Форум
    li.menu__item
      a.menu__link(href='/adminsite') Администрация сайта
    li.menu__item
      a.menu__link(href='/promo') Реклама сайта и баннеры
    li.menu__item
      a.menu__link(href='/files/psp-psone') Файловый архив
    li.menu__item
      a.menu__link(href='/gb') Гостевая книга
    li.menu__item
      a.menu__link(href='/feedback') Обратная связь