extends ../sidebar_block

block title_sideblock
  b Shakugan no Shana

block body_sideblock
  ul.menu
    li.menu__item
      a.menu__link(href='/shana/info') Информация о сериале
    li.menu__item
      a.menu__link(href="javascript:void%20Menu('1')" style='text-decoration: none') Видео раздел
      #1(style='display: none')
        br
        ul.menu
          li.menu__item
            a.menu__link(href='/video/sns-season1/1') 1 сезон
          li.menu__item
            a.menu__link(href='/video/sns-season2/1') 2 сезон
          li.menu__item
            a.menu__link(href='/video/sns-ova/1') OVA
          li.menu__item
            a.menu__link(href='/video/sns-special/1') Спецвыпуски
          li.menu__item
            a.menu__link(href='/video/sns-movie/1') Полнометражка(Movie)
          li.menu__item
            a.menu__link(href='/video/sns-amv/1') AMV Клипы
    li.menu__item
      a.menu__link(href="javascript:void%20Menu('2')" style='text-decoration: none') Галерея
      #2(style='display: none')
        br
        ul.menu
          li.menu__item
            a.menu__link(href='/gallery/sns-avatars/1') Аватары
          li.menu__item
            a.menu__link(href='/gallery/sns-animation/1') Анимация
          li.menu__item
            a.menu__link(href='/gallery/sns-frames/1') Кадры из сериала
          li.menu__item
            a.menu__link(href='/gallery/sns-subpic/1') Картинки в подпись
          li.menu__item
            a.menu__link(href='/gallery/sns-wallpapers/1') Обои
          li.menu__item
            a.menu__link(href='/gallery/sns-wallpapers-psp/1') Обои для PSP
          li.menu__item
            a.menu__link(href='/gallery/sns-jokes/1') Приколы
          li.menu__item
            a.menu__link(href='/gallery/sns-simple-pics/1') Простые картинки
          li.menu__item
            a.menu__link(href='/gallery/sns-scans/1') Сканы
          li.menu__item
            a.menu__link(href='/gallery/sns-userbars/1') Юзербары
    li.menu__item
      a.menu__link(href='/shana/music') Музыкальный раздел


