extends ../sidebar_block

block title_sideblock
  b Персональное окошко

block body_sideblock
  center
    img(src='/images/no_avatar-web.jpg' border=1 style='margin: 5px 5px 5px 5px;')
    br
    | Вы вошли как: Гость
    br
    | Ваш пароль: ******
    br
    | Ваша группа: Гости
    br
    br
    a(href='/') Зайти на персональную страницу
    br
    br
    a(href='/') Ссылка для входа
    br
    a(href='/') Ссылка для выхода
