extends ../sidebar_block

block title_sideblock
  b Администрация сайта

block body_sideblock
  center
    b SilverDragoon - Админ:
    br
    img(src='/images/icq.gif' border=0 alt='Отправить сообщение' vspace=3 align='center' hspace=2)
    | &nbsp;- ICQ - 423409962 -&nbsp;
    img(src='/images/icq.gif' border=0 alt='Отправить сообщение' vspace=3 align='center' hspace=2)
