extends ../sidebar_block

block title_sideblock
  b The Legend of Dragoon

block body_sideblock
  ul.uz
    li.m
      a.m(href='/lod/') Информация о игре
    li.m
      a.m(href='/lod/articls') Статьи и прохождения
    li.m
      a.m(href='/lod/worldmap') Карта мира
    li.m
      a.m(href="javascript:void%20Menu('3')" style='text-decoration: none') Галерея
      #3(style='display: none')
        br
        ul.uz
          li.m
            a.m(href='/lod/gallery/game') Обои по игре
          li.m
            a.m(href='/lod/gallery/dart') Дарт(Red Dragoon)
          li.m
            a.m(href='/lod/gallery/shana') Шана(Silver Dragoon)
          li.m
            a.m(href='/lod/gallery/rose') Rose(Darkness Dragoon)
          li.m
            a.m(href='/lod/gallery/lavitz') Лавитц(Jade Dragoon)
          li.m
            a.m(href='/lod/gallery/albert') Альберт(Jade Dragoon)
          li.m
            a.m(href='/lod/gallery/miranda') Миранда(Silver Dragoon)
          li.m
            a.m(href='/lod/gallery/meru') Меру(Blue-Sea Dragoon)
          li.m
            a.m(href='/lod/gallery/other-heroes') Другие герои
          li.m
            a.m(href='/lod/gallery/logo') Логотип
    li.m
      a.m(href="javascript:void%20Menu('4')" style='text-decoration: none') Видео раздел
      #4(style='display: none')
        br
        ul.uz
          li.m
            a.m(href='/lod/video/in-game') Ролики из игры
          li.m
            a.m(href='/lod/video/amv') AMV клипы
    li.m
      a.m(href='/lod/music') музыкальный раздел
    li.m
      a.m(href='/lod/faq') FAQ по прохождению
