extends ../sidebar_block

block title_sideblock
  b The Legend of Dragoon

block body_sideblock
  ul.uz
    li.m
      a.m(href='/lod/') Информация о игре
    li.m
      a.m(href='/lod/articls') Статьи и прохождения
    li.m
      a.m(href='/lod/worldmap') Карта мира
    li.m
      a.m(href="javascript:void%20Menu('3')" style='text-decoration: none') Галерея
      #3(style='display: none')
        br
        ul.uz
          li.m
            a.m(href='/gallery/lod_wallpaper/1') Обои по игре
          li.m
            a.m(href='/gallery/dart_red_dragoon/1') Дарт(Red Dragoon)
          li.m
            a.m(href='/gallery/lavitc_jade_dragoon/1') Лавитц(Jade Dragoon)
          li.m
            a.m(href='/gallery/shana_silver_dragoon/1') Шана(Silver Dragoon)
          li.m
            a.m(href='/gallery/rose_darkness_dragoon/1') Rose(Darkness Dragoon)
          li.m
            a.m(href='/gallery/hashel_violet_dragoon/1') Хашель (Violet Dragoon)
          li.m
            a.m(href='/gallery/albert_jade_dragoon/1') Альберт(Jade Dragoon)
          li.m
            a.m(href='/gallery/meru_blue_sea_dragoon/1') Меру(Blue-Sea Dragoon)
          li.m
            a.m(href='/gallery/kongol_golden_dragoon/1') Конгол (Golden Dragoon)
          li.m
            a.m(href='/gallery/miranda_silver_dragoon/1') Миранда(Silver Dragoon)
          li.m
            a.m(href='/gallery/other_heroes/1') Другие герои
          li.m
            a.m(href='/gallery/endiness_world/1') Мир Endiness и окрестности
          li.m
            a.m(href='/gallery/posters/1') Постеры
          li.m
            a.m(href='/gallery/promo_cd_merc/1') Промо, CD, Фигурки и т.п.
          li.m
            a.m(href='/gallery/fan_art_lod/1') Фан-арт по игре
          li.m
            a.m(href='/gallery/logo/1') Логотип
    li.m
      a.m(href="javascript:void%20Menu('4')" style='text-decoration: none') Видео раздел
      #4(style='display: none')
        br
        ul.uz
          li.m
            a.m(href='/lod/video/in-game') Ролики из игры
          li.m
            a.m(href='/lod/video/amv') AMV клипы
    li.m
      a.m(href='/lod/music') музыкальный раздел
    li.m
      a.m(href='/lod/faq') FAQ по прохождению
