extends ../sidebar_block

block title_sideblock
  b Меню

block body_sideblock
  ul.uz
    li.m
      a.m(href='/') Главная страница
    li.m
      a.m(href='/projects') Информация о проектах сайтов
    li.m
      a.m(href='http://silver-dragoon.ucoz.ru/forum/') Форум
    li.m
      a.m(href='/adminsite') Администрация сайта
    li.m
      a.m(href='/promo') Реклама сайта и баннеры
    li.m
      a.m(href='/gb') Гостевая книга
    li.m
      a.m(href='/feedback') Обратная связь