extends ../sidebar_block

block title_sideblock
  b Shakugan no Shana

block body_sideblock
  ul.uz
    li.m
      a.m(href='/shana') Информация о сериале
    li.m
      a.m(href="javascript:void%20Menu('1')" style='text-decoration: none') Видео раздел
      #1(style='display: none')
        br
        ul.uz
          li.m
            a.m(href='/shana/video/1season') 1 сезон
          li.m
            a.m(href='/shana/video/2season') 2 сезон
          li.m
            a.m(href='/shana/video/ove') OVA
          li.m
            a.m(href='/shana/video/special') Спецвыпуски
          li.m
            a.m(href='/shana/video/movie') Полнометражка(Movie)
          li.m
            a.m(href='/shana/video/amv') AMV Клипы
    li.m
      a.m(href="javascript:void%20Menu('2')" style='text-decoration: none') Галерея
      #2(style='display: none')
        br
        ul.uz
          li.m
            a.m(href='/gallery/sns_avatars/1') Аватары
          li.m
            a.m(href='/gallery/sns_animation/1') Анимация
          li.m
            a.m(href='/gallery/sns_frames/1') Кадры из сериала
          li.m
            a.m(href='/gallery/sns_subpic/1') Картинки в подпись
          li.m
            a.m(href='/gallery/sns_wallpapers/1') Обои
          li.m
            a.m(href='/gallery/sns_wallpapers_psp/1') Обои для PSP
          li.m
            a.m(href='/gallery/sns_jokes/1') Приколы
          li.m
            a.m(href='/gallery/sns_simple_pics/1') Простые картинки
          li.m
            a.m(href='/gallery/sns_scans/1') Сканы
          li.m
            a.m(href='/gallery/sns_userbars/1') Юзербары
    li.m
      a.m(href='/shana/music') Музыкальный раздел


