extends ../sidebar_block

block title_sideblock
  b Shakugan no Shana

block body_sideblock
  ul.menu
    li.menu__item
      a.menu__link(href='/shana') Информация о сериале
    li.menu__item
      a.menu__link(href="javascript:void%20Menu('1')" style='text-decoration: none') Видео раздел
      #1(style='display: none')
        br
        ul.menu
          li.menu__item
            a.menu__link(href='/video/sns_season1/1') 1 сезон
          li.menu__item
            a.menu__link(href='/video/sns_season2/1') 2 сезон
          li.menu__item
            a.menu__link(href='/video/sns_ova/1') OVA
          li.menu__item
            a.menu__link(href='/video/sns_special/1') Спецвыпуски
          li.menu__item
            a.menu__link(href='/video/sns_movie/1') Полнометражка(Movie)
          li.menu__item
            a.menu__link(href='/video/sns_amv/1') AMV Клипы
    li.menu__item
      a.menu__link(href="javascript:void%20Menu('2')" style='text-decoration: none') Галерея
      #2(style='display: none')
        br
        ul.menu
          li.menu__item
            a.menu__link(href='/gallery/sns_avatars/1') Аватары
          li.menu__item
            a.menu__link(href='/gallery/sns_animation/1') Анимация
          li.menu__item
            a.menu__link(href='/gallery/sns_frames/1') Кадры из сериала
          li.menu__item
            a.menu__link(href='/gallery/sns_subpic/1') Картинки в подпись
          li.menu__item
            a.menu__link(href='/gallery/sns_wallpapers/1') Обои
          li.menu__item
            a.menu__link(href='/gallery/sns_wallpapers_psp/1') Обои для PSP
          li.menu__item
            a.menu__link(href='/gallery/sns_jokes/1') Приколы
          li.menu__item
            a.menu__link(href='/gallery/sns_simple_pics/1') Простые картинки
          li.menu__item
            a.menu__link(href='/gallery/sns_scans/1') Сканы
          li.menu__item
            a.menu__link(href='/gallery/sns_userbars/1') Юзербары
    li.menu__item
      a.menu__link(href='/shana/music') Музыкальный раздел


