extends ../sidebar_block

block title_sideblock
  b Опрос

block body_sideblock
  table(cellspacing='0' cellpadding='1' width='100%' border='0')
    tr
      td(style='font-family: tahoma, sans-serif; text-align: justify')
        | Как вам мой сайт? Как вам дизайн сайта?
        br
        .answer
          | 1.
          span(title='Голосов: 130 (44%)') Супер
          div(style='padding-top:3px;')
            div(style='width:57px;background:#2144DA;height:3px')
              img(src='http://src.ucoz.ru/img/1px.gif' height='3' width='57')
        .answer
          | 2.
          span(title='Голосов: 70 (23%)') Хорошо, но не супер
          div(style='padding-top:3px;')
            div(style='width:30px;background:#A1523A;height:3px')
              img(src='http://src.ucoz.ru/img/1px.gif' height='3' width='30')
        .answer
          | 3.
          span(title='Голосов: 43 (14%)') Ужос, просто ужос
          div(style='padding-top:3px;')
            div(style='width:18px;background:#189721;height:3px')
              img(src='http://src.ucoz.ru/img/1px.gif' height='3' width='18')
        .answer
          | 4.
          span(title='Голосов: 36 (12%)') Нормалекс
          div(style='padding-top:3px;')
            div(style='width:15px;background:#0B6C24;height:3px')
              img(src='http://src.ucoz.ru/img/1px.gif' height='3' width='15')
        .answer
          | 5.
          span(title='Голосов: 14 (4%)') Плохо Федя, плохо
          div(style='padding-top:3px;')
            div(style='width:6px;background:#E3BF6A;height:3px')
              img(src='http://src.ucoz.ru/img/1px.gif' height='3' width='6')


    tr
      td(align='center')
        br
        a Результаты
        | ·
        a Архив опросов
        br
        br