/* Photo Style */
.photo-edetails {text-align:center;}
/* ----------- */

/* Poll styles */
.answer {font-size:11px; padding-bottom:5px;}
.pollBut {width:110px; border-width:1px; border-color: #1D3D54;}

.pollBody {padding:0px; margin:7px; background:#FFFFFF}
.textResults {background:#E2E6EA}
.textResultsTd {background:#FFFFFF}

.pollNow {border-bottom:10px solid #E2E6EA; border-left:1px solid #E2E6EA; border-right:1px solid #E2E6EA;}
.pollNowTd {}

.totalVotesTable {border-bottom:1px solid #E2E6EA; border-left:1px solid #E2E6EA; border-right:1px solid #E2E6EA;}
.totalVotesTd {background:#FFFFFF}
/* ---------- *