/* Entries Style */
.entryTable {}
.entryTitle {font-family:Arial,Sans-Serif;font-size:14px;font-weight:bold;color:#444444;}
.entryTitleLink {font-family:Arial,Sans-Serif;font-size:14px;font-weight:bold;color:#734323;text-decoration:underline}
.entryBodyTd {text-align:justify;padding-bottom:5px;}
.entryTextTd {text-align:justify;padding-bottom:5px;padding-top:5px;border-top:1px dashed #444444;font:8pt;}

.entryDetailsTd {border-top:1px dashed #444444;border-bottom:1px dashed #444444;font-family:Tahoma,Arial,Sans-Serif;color:#444444;padding-bottom:5px;padding-top:3px;  text-align:left;font-size:7pt;}
.entryDetailsTd1 {border-top:1px dashed #444444;border-bottom:1px dashed #444444;font-family:Tahoma,Arial,Sans-Serif;color:#444444;padding-bottom:5px;padding-top:3px;  text-align:left;font-size:8pt;}
.entryDetailsTd2 {border-bottom:1px dashed #444444;font-family:Tahoma,Arial,Sans-Serif;color:#444444;padding-bottom:5px;padding-top:3px;  text-align:left;font-size:8pt;}

.entryDateTd {font-size:7pt;font-family:Tahoma,Arial,Sans-Serif;}

.entryHr {color:#444444;height:1px;border-top:0px;display:none;}
/* --------------- */

/* Comments and Gb Style */
.commAllTd {padding: 5px;}
.commBodyTable {border:1px dotted #A9B8C2;}
.commNumTd,.commNameTd,.commDateTd {border-bottom:1px dotted #A9B8C2;background:#F4F4F4;}
.commDateTd {font-size:9px;color:#444444;}
.commName {color:#444444;}

.middleImg {width:4px;}
/* -------------- */

/* Comments Form Style */
.commTable {}
.commTd1 {color:#444444;}
.commTd2 {}
.commFl {width:100%;}
.smiles {border:1px inset;background:#F7F7F7;}
.commError {color:#444444;}
/* ------------------- */

/* Photo Style */
.photo-edetails {text-align:center;}
/* ----------- */

/* Poll styles */
.answer {font-size:11px; padding-bottom:5px;}
.pollBut {width:110px; border-width:1px; border-color: #1D3D54;}

.pollBody {padding:0px; margin:7px; background:#FFFFFF}
.textResults {background:#E2E6EA}
.textResultsTd {background:#FFFFFF}

.pollNow {border-bottom:10px solid #E2E6EA; border-left:1px solid #E2E6EA; border-right:1px solid #E2E6EA;}
.pollNowTd {}

.totalVotesTable {border-bottom:1px solid #E2E6EA; border-left:1px solid #E2E6EA; border-right:1px solid #E2E6EA;}
.totalVotesTd {background:#FFFFFF}
/* ---------- *