extends ../layouts/application

include ../comments/list
include ../comments/form

block title
  = pageTitle

block content
  table(border=0 cellpadding=5 cellspacing=0 width='100%')
    tr
      td(style="background: url('/assets/images/5.gif') #FFECC7;")
        table(border=0 cellpadding=0 cellspacing=0 width='100%')
          tr
            td(width='80%')
              a(href='/') Главная
              | &#32;» Гостевая книга
            td(align='right' style='white-space: nowrap;')
              | [&#32;
              a(href='#') Добавить запись
              | &#32;]
        hr
        div(style='padding-bottom:7px;')
          div(style='float:right;') Страницы: [
            b 1
            | ]
          div Показано&#32;
            b 1
            | -
            b= gbPosts.length
            | &#32;из&#32;
            b= gbPosts.length
            | &#32;сообщений
        +comments_list(gbPosts)
        div(style='text-align: center')
          | [
          b 1-#{gbPosts.length}
          | ]
        br
        +comments_form()
