extends ../layouts/application

block title
  = pageTitle

block content
  center
    b Баннер сайта на тему аниме "Shakugan no Shana"
  hr(size=1)
  center
    a(href='http://silver-dragoon.ucoz.ru')
      img(src='/images/promo/promo-sd2.gif' width=88 height=31 border=0 alt='Silver Dragoon')
    br
    br
    textarea(readonly disabled rows=3 cols=100)
      | &lt;a href=&quot;http://silver-dragoon.ucoz.ru&quot;&gt;&lt;img src=&quot;http://www.wedchaynik.ucoz.ru/_ph/3/1/220340205.jpg&quot; width=88 height=31 border=0 alt=&quot;Silver Dragoon&quot;&gt;&lt;/a&gt;
  hr(size=1)
  center
    b Баннер сайта на тему игры "The Legend of Dragoon"
  hr(size=1)
  center
    a(href='http://silver-dragoon.ucoz.ru')
      img(src='/images/promo/promo-sd.gif' width=88 height=31 border=0 alt='Silver Dragoon')
    br
    br
    textarea(readonly disabled rows=3 cols=100)
      | &lt;a href=&quot;http://silver-dragoon.ucoz.ru&quot;&gt;&lt;img src=&quot;http://www.wedchaynik.ucoz.ru/_ph/3/1/861496526.jpg&quot; width=88 height=31 border=0 alt=&quot;Silver Dragoon&quot;&gt;&lt;/a&gt;
  hr(size=1)
  center
    b Юзербар сайта на тему аниме "Shakugan no Shana"
  hr(size=1)
  center
    a(href='http://silver-dragoon.ucoz.ru')
      img(src='/images/promo/userbar-sd2.png' width=350 height=20 border=0 alt='Silver Dragoon')
    br
    br
    table
      tr
        td(align='center' valign='middle' width=100)
          b Код HTML:
        td
          textarea(readonly disabled rows=2 cols=100)
            | &lt;a href=&quot;http://silver-dragoon.ucoz.ru&quot;&gt;&lt;img src=&quot;http://silver-dragoon.ucoz.ru/SilverDragoon2-userbar.png&quot; width=350 height=20 border=0 alt=&quot;Silver Dragoon&quot;&gt;&lt;/a&gt;
      tr
        td(align='center' valign='middle' width=100)
          b BBcode:
        td
          textarea(readonly disabled rows=2 cols=100)
            | [url=http://silver-dragoon.ucoz.ru/][img]http://silver-dragoon.ucoz.ru/SilverDragoon2-userbar.png[/img][/url]
  hr(size=1)
  center
    b Юзербар сайта на тему игры "The Legend of Dragoon"
  hr(size=1)
  center
    a(href='http://silver-dragoon.ucoz.ru')
      img(src='/images/promo/userbar-sd.png' width=350 height=20 border=0 alt='Silver Dragoon')
    br
    br
    table
      tr
        td(align='center' valign='middle' width=100)
          b Код HTML:
        td
          textarea(readonly disabled rows=2 cols=100)
            | &lt;a href=&quot;http://silver-dragoon.ucoz.ru&quot;&gt;&lt;img src=&quot;http://silver-dragoon.ucoz.ru/SilverDragoon-userbar.png&quot; width=350 height=20 border=0 alt=&quot;Silver Dragoon&quot;&gt;&lt;/a&gt;
      tr
        td(align='center' valign='middle' width=100)
          b BBcode:
        td
          textarea(readonly disabled rows=2 cols=100)
            | [url=http://silver-dragoon.ucoz.ru/][img]http://silver-dragoon.ucoz.ru/SilverDragoon-userbar.png[/img][/url]
