table.site-block(class=(theme && `_${theme}`) cellspacing='0' cellpadding='0' width='200' border='0')
  tr
    td.site-block__title(align='center')
      block title_sideblock
  tr
    td.site-block__body
      block body_sideblock