extends ../layouts/application

block title
  = pageTitle

block content
  table
    tr
      td(align='center' valign='middle' width=150)
        img(src='/images/personal/silverdragoon.jpg' alt='Аватар')
        br
        img(src='/images/personal/silverdragoon-av.gif' alt='Ник Silver Dragoon')
      td
        b Должноть:&#32;
        | Администратор и дизайнер сайта
        br
        b Имя:&#32;
        | Артем
        br
        b Возвраст:&#32;
        | 16
        br
        b ICQ:&#32;
        | 423409962
        br
        b E-Mai:&#32;
        | artem007-07@mail.ru
        br
        b Пользователь Li.Ru:&#32;
        | Black_Parkour -
        a(href='http://www.liveinternet.ru/users/black_parkour/profile/') http://www.liveinternet.ru/users/black_parkour/profile/
        br
        b Стаж работы Web-дизайнером:&#32;
        | 3 года
        br
        b О себе:&#32;
        | Я владелец и создатель проекта Silver Dragoon. Первоначально я его планировал как свой персональный сайт, но потом решил посветить его еще чему-нибудь. Со второй версии сайт окончательно определился с тематикой, и теперь он, как немного обо мне, так и еще о аниме Shakugan no Shana и игре The Legend of Dragoon.
        br
        | Всю информацию, что находитс на сайте, я стараюсь искать в разных уголках интернета, большая часть этой информации не из рунета, а из-за рубежа, поэтому некоторой информации расположеной тут нету аналогов на других сайтах.
        br
        | Я стараюсь сделать сайт как можно лучше, проще, информативнее, интерестнее и удобнее, чтобы каждому посетителю было приятно заходить на сайт из-за дня в день. Я надеюсь вам понравится этот сайт, спасибо за посещение его.
