extends ../../layouts/application

block title
  = pageTitle

block content
  table
    tr
      td
        center
          b Рецензия:
        hr(size=1)
        img(src='/images/shana/info-page/main.jpg' border=1 align='right' vspace=4 hspace=10)
        p(style='text-align: left') Анастасия Розанова, 2006.12.18
        p(style='text-align: right')
          i Сла Сяна по соссе и сосала суси.
          br
          | (Скороговорка системы Поливанова)
        div
          | Жила-была девочка... Ну, то есть, не совсем девочка. Такая, скорее, человекоподобная сущность. Огненная Пелена в форме девочки. Н-да… Ладно; сейчас попробую сначала: жила, стало быть, была одна Огненная Пелена… Ну, и не совсем «жила». Существовала, скажем так, в симбиозе с Владыкой Багрового Мира (хоть это и не вполне то, что вы подумали…). Нет, так мы с места не сдвинемся. Тогда зайдем с другой стороны: жил-был мальчик. (Ого, кажись, получается!) Итак, жил-был мальчик по имени Сакаи Юдзи... То есть, это сначала он и «жил», и «был», а потом уже только был, потому что всю жизнь из него выкачали и сделали Факелом...
          br
          br
          | Баста.
          img(src='/images/shana/info-page/4.jpg' align='left' border=1 hspace=5 vspace=5)
          | Сказочные зачины себя изжили. В конце концов, «Жгучий взор Сяны» – это не сказка. А что ж тогда, правда жизни?.. Ну, предположим, ВОЗМОЖНАЯ правда жизни – откуда мы знаем, вдруг всё так и есть, как они показывают? Может быть, Земля действительно является энергетической кормушкой для Багрового Мира – как мы можем это отследить, если жертвы исчезают не внезапно, а постепенно; тают, как кусок мыла в чистоплотном доме... Родным и близким не грозит скоропостижная утрата: жертву иномирных упырей подменяет «факел» – действующая модель человека в натуральную величину, муляж с тлеющим внутри фитилем остатней энергии. Блеклостью проявлений гаснущий Факел напоминает стругацких дублей. Он – изображение человека, напоминание о человеке, но уже не человек. Школьник Юдзи узнает про существование Багрового Мира – и одновременно с этим понимает, что сам стал Факелом. Помните «Синий фонарь» Пелевина: «А ты знаешь, почему вокруг одни мертвецы? Мужик испугался, а она ему говорит: «Да потому что ты сам мертвец». Так правда жизни открывается уже неживому Юдзи. Не Бог весть, какая радостная новость; к тому ж быть неживым, бьюсь об заклад, куда противней, чем немёртвым (ср. «Хеллсинг»). Став Факелом, Юдзи не отрастил ни клыков, ни плаща, ни пистолетов, то есть, многого лишился и ничего, судя по всему, не приобрел. Ну, кроме знакомства с одной юной и сварливой Огненной Пеленой...
          br
          br
          | Багровые
          img(src='/images/shana/info-page/2.jpg' align='left' border=1 hspace=5 vspace=5)
          | людоеды накрывают город магической Печатью и работают без суеты и шума. Обычно... Суета и шум возникают, когда в процесс их подпитки вмешиваются Охотники, Огненные Туманы. Они появляются в блеске своей зловещей славы и звучных прозвищ, обмениваются с Кровавыми Владыками язвительными замечаниями, подтверждая и без того очевидную готовность драться, а затем устраивают эффектные потасовки... И с этого момента «Сяна» приобретает знакомую душегубскую эстетику: прекрасное Зло (безжалостное, хорошо одетое, непременно извращенное – кавайный злодей, бережно нянчащий говорящую куколку; бессердечные, умильно целующиеся сестричка и братик; «мэн крутой», оберегающий сатанинское целомудрие маленькой аскетессы) и великолепное Добро (тоже безжалостное, тоже нарядное, и вот только по части извращений слегка уступающее Злу) в очередной раз выясняют свои застарелые отношения. И на этом этапе «возможная правда жизни» становится правдой невозможной, фэнтезийно-готишной. Хитроумная нравственная загадка: «Как надо жить, когда жизнь кончена?» так и остается полуразгаданной. Драма ни живого – ни мёртвого Юдзи отодвигается на второй план, а затем и на третий, когда выясняется, что в свободное от основной работы время Огненная Пелена Сяна любит дынные булочки, имеет скромный размер груди и собирается ходить в школу.
          br
          br
          img(src='/images/shana/info-page/1.png' align='right' border=1 hspace=5 vspace=5)
          | Третья составляющая сюжета, «романтическая школьная комедия», властно заявляет о своих правах. Классический треугольник – он/она/другая она – бодро разыгрывается странным составом, при том, что «он» уже не вполне на этом свете, «она» не до конца пришла с того, и только третья героиня соответствует вполне. Бассейн и купальники, летний праздник и переодевание в юкату, невинный румянец и несвоевременные признанья... «Движенья, голос, легкий стан,/Всё в Ольге... [читай: в Сяне] но любой роман/ Возьмите и найдете верно/ Её портрет: он очень мил,/ Я прежде сам его любил,/ Но надоел он мне безмерно» (©), не правда ли?). Сяна, само собой, обаятельная маленькая мегерка. Ёсида – трогательная скромняжка. Сам Юдзи тоже весьма недурен. Но! Начать с такого экзистенциального аккорда и свести всё к типовому пленению благородного тихони?
          br
          br
          | Или это и есть ответ на наши молитвы и вопросы? Жив ты или мёртв, не так уж важно, «зомби тоже может играть в баскетбол», а хорошему человеку работа / призвание / девушка обязательно сыщутся и после смерти. Что ж, мораль не хуже прочих... Хотя ощущение того, что вторая часть сериала «провисла» относительно первой, не покидает. Было же ТАК!.. А кончилось – ну, как-то так. Поэтому чего-то определенно хочется – то ли полнометражки, то ли второго сезона, то ли чтоб первый был короче примерно вполовину, то ли дынной булочки.
    tr
      td
        hr(size=1)
        center
          b Краткое содержание:
        hr(size=1)
        div
          img(src='/images/shana/info-page/3.jpg' align='right' border=1 hspace=5 vspace=5)
          | "Ты больше не существуешь!". Так заявила ошалевшему старшекласснику Сакаю Юдзи красноокая и красноволосая девушка Сана, за несколько минут до этого спасшая ему жизнь от гигантского зубастого монстра. В короткий период времени весь порядок мироздания в корне изменился для Сакая: возвращаясь домой после школы, он внезапно оказался в жутковатом альтернативном мире вместе с окружающими прохожими, послужившими лакомством для исполинского чудовища. От страшной участи парня спасла невесть откуда появившаяся Сана, виртуозно владеющая длинным мечом. Но гораздо страшнее оказалось известие о том, что он уже давным-давно не человек, а лишь оболочка, хранящая очень важное сокровище для других миров. С этого дня для старшеклассника Сакая Юдзи началась совсем другая жизнь...
    tr
      td
        hr(size=1)
        center
          b В каком порядке лучше смотреть серии сериала:
        hr(size=1)
        u Shakugan no Shana - 1 сезон (24 эп., оригинальный сериал, 2005)
        br
        | - 01. The End of Everything, A Beginning
        br
        img(src='/images/shana/info-page/5.jpg' align='right' border=1 hspace=5 vspace=5)
        | - 02. Burning Flame
        br
        | - 03. Torch and Flame Haze
        br
        | - 04. Flame Haze of Illusion
        br
        | - 05. Respective Thoughts
        br
        | - 06. Complication.Motion.Confrontation
        br
        | - 07. Two Flame Hazes
        br
        | - 08. Magnificent Goblet
        br
        | - 09. Love and Desire's Poolside
        br
        | - 10. Entwined Feelings
        br
        | - 11. Yuuji, Shana and a Kiss
        br
        | - 12. The Flower that Blooms in the Cradle
        br
        | - 13. Declaration of War Behind The School Building
        br
        u - 13,5. Love and Outdoor Hot Spring Tutorial! (OAV, 1 эп., продолжение, 2006)
        br
        | - 14. A Great Person
        br
        img(src='/images/shana/info-page/6.png' align='right' border=1 hspace=5 vspace=5)
        | - 15. The Day the Flame Was Born
        br
        | - 16. Slaying Hand of Shakugan
        br
        | - 17. New Prologue
        br
        | - 18. Crushing Hopes
        br
        | - 19. In the Midst of Battle
        br
        | - 20. Heartless Wilhelmina
        br
        | - 21. Fading Thoughts
        br
        | - 22. Flickering Flame
        br
        | - 23. Battle in the Seirei-den
        br
        | - 24. Crimson Thoughts
        br
        u Gekijouban Shakugan no Shana Movie (п/ф, ремейк первого сезона, 2007)
        br
        u Special Shakugan no Shana(4 спешла, 2005, 2007):
        br
        | - S1. Shakugan no Shanatan
        br
        | - S2. Shakugan no Shanatan Returns
        br
        | - S3. Itadaki no Hecatetan
        br
        img(src='/images/shana/info-page/7.jpg' align='right' border=1 hspace=5 vspace=5)
        | - S4  Shakugan no Shana - The Movie
        br
        u Shakugan no Shana - 2 сезон (>24 эп., продолжение первого сериала, 2007-2008)
        br
        | - 01. The Time for the Second Time
        br
        | - 02. The Prologue of Everything
        br
        | - 03. The Suspicious Transfer Student
        br
        | - 04. Worried Girls
        br
        | - 05. Family Dining
        br
        | - 06. Eve of Trouble
        br
        | - 07. Hayato Ike, a Day of Glory
        br
        | - 08. The Door to the Past
        br
        | - 09. The Milestone of Sorrow
        br
        | - 10. The Man who Returned
        br
        | - 11. Two People's Promise
        br
        | - 12. Clear Autumn Festival Begins
        br
        | - 13. Convergence, Then a Sign
        br
        | - 14. Eternal Lover
        br
        | - 15. Awakening
        br
        | - 16. Ceaseless Thoughts
        br
        | - 17. Each Person's Respective Way