.comm
  padding 12px 4px

  &__item
    margin-bottom 12px
    border 1px dotted #A9B8C2
    &:last-child
      margin 0

  &__num-td
  &__name-td
  &__date-td
    border-bottom 1px dotted #A9B8C2
    background #F4F4F4

  &__date-td
    font-size 9px
    color #444444

  &__name
    color #444444

  &__avatar
    float left
    display inline-block
    margin-right 4px