.comm-form
  &__td1
    color #444444
  &__input
    box-sizing border-box
    width 100%
    padding 3px
    border 1px solid #999999
  &__smiles
    border 1px inset
    background #F7F7F7
  &__error
    color #444444