.gallery-list
  display flex
  flex-wrap wrap
  width 100%
  min-width 900px
  margin 0
  padding 0
  list-style none

  &__item
    box-sizing border-box
    width calc(100% / 4)
    padding 10px

  &__photo-block
    position relative
    display inline-block
    padding 5px
    font 12px/16px Arial
    background url('/assets/images/opacity02.png')
    box-shadow 0 .5px 3px rgba(0, 0, 0, .37)
    border-radius 5px
    &:after
      content ""
      display block
      position absolute
      top 100%
      left 0
      right 0
      height 7px
      background url('/assets/images/ph-shadow.png') no-repeat center top

  &__top
    position relative
    overflow hidden

  &__img-wrap
    display table-cell
    width 200px
    height 150px
    vertical-align middle

  &__link
    display block
    position absolute
    left 0
    top 0
    right 0
    bottom 0
    text-align center
    text-decoration none !important
    background rgba(255, 255, 255, .85)
    opacity 0
    transition .5s .05s opacity ease
    background url('/assets/images/opacity085.png')
    &:hover
      opacity 1

  &__link-data
    display inline-block

  &__link-top
    display block
    padding 2px 7px
    font-weight bold
    color #000 !important

  &__link-bottom
    display block
    padding 5px 8px
    font-style italic
    font-size 11px
    line-height 14px
    color #464646 !important
    text-shadow 0 1px 0 #fff

  &__details
    height 16px
    margin 5px 0 0
    text-align center

  &__views
  &__comments
  &__rating
    display inline-block
    padding-left 20px
    margin 0 10px 0 0
    background no-repeat left center
  &__views
    background-image url('/assets/images/uico-view.png')
  &__comments
    padding-left 18px
    background-image url('/assets/images/uico-comment.png')
  &__rating
    margin 0
    padding-left 18px
    background-image url('/assets/images/uico-rating.png')
