.poll
  padding 2px 0 10px
  &__question
    padding 0 2px 5px 2px
    font bold 11px Tahoma, Arial
    text-align center
  &__answer
    padding-bottom 5px
    font-size 11px
  &__footer
    margin-top 10px
    text-align center
