.site-block
  margin-bottom 12px
  font-family tahoma, sans-serif
  font-size 11px

  &__title
    height 24px
    background url('/assets/images/themes/sns/left.jpg') #000
    font-size 11px
    font-family tahoma, sans-serif
    color #fff
    &._wide
      border 1px double #fff
      background url('/assets/images/themes/sns/4.gif') #fff
  &._lod &__title
    background-image url('/assets/images/themes/lod/left.jpg')
    &._wide
      background-image url('/assets/images/themes/lod/4.gif')
  &._old &__title
    background-image url('/assets/images/themes/old/left.jpg')
    &._wide
      background-image url('/assets/images/themes/old/4.gif')

  &__body
    background url('/assets/images/5.gif') #fff
    padding 5px
    border 3px double #fff
    font-size 11px
    font-family Verdana, Arial, Helvetica
    color #2e2e2e
    &._wide
      padding 0
