body
  font-size 0

.personal-content
  font-family Verdana, Arial, Helvetica
  font-size 11px
  text-decoration none
  color #2e2e2e
  img
    max-width 100%

a.buttonL1
  background url('/assets/images/themes/personal/left22nn.gif')
  display block
  width 207px
  height 74px
  &:hover
    background url('/assets/images/themes/personal/left22n.gif')

a.buttonL2
  background url('/assets/images/themes/personal/left42nn.gif')
  display block
  width 184px
  height 55px
  &:hover
    background url('/assets/images/themes/personal/left42n.gif')

a.buttonL3
  background url('/assets/images/themes/personal/left62nn.gif')
  display block
  width 171px
  height 53px
  &:hover
    background url('/assets/images/themes/personal/left62n.gif')

a.buttonL4
  background url('/assets/images/themes/personal/left82nn.gif')
  display block
  width 140px
  height 50px
  &:hover
    background url('/assets/images/themes/personal/left82n.gif')

a.buttonL5
  background url('/assets/images/themes/personal/left102nn.gif')
  display block
  width 194px
  height 72px
  &:hover
    background url('/assets/images/themes/personal/left102n.gif')

a.buttonR1
  background url('/assets/images/themes/personal/right22nn.gif')
  display block
  width 173px
  height 41px
  &:hover
    background url('/assets/images/themes/personal/right22n.gif')

a.buttonR2
  background url('/assets/images/themes/personal/right42nn.gif')
  display block
  width 165px
  height 43px
  &:hover
    background url('/assets/images/themes/personal/right42n.gif')

a.buttonR3
  background url('/assets/images/themes/personal/right62nn.gif')
  display block
  width 207px
  height 50px
  &:hover
    background url('/assets/images/themes/personal/right62n.gif')
