doctype html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd"
html(lang="ru-Ru")
  include ../shared/head
  body(bgcolor='#cccccc')
    case theme
      when 'lod'
        include ../shared/headers/lod
      when 'old'
        include ../shared/headers/old
      default
        include ../shared/headers/sns

    table(cellspacing='0' cellpadding='0' width='100%' border='0')
      tr
        td(valign='top' width='200')
          include ../shared/sidebar_blocks/menu_main
          include ../shared/sidebar_blocks/menu_shana
          include ../shared/sidebar_blocks/menu_lod
          include ../shared/sidebar_blocks/clock
          include ../shared/sidebar_blocks/personal
        td(valign='top' width='100%' style='padding:0px 10px 0px 10px;')
          table.site-block(class=(theme && `_${theme}`) cellspacing='0' cellpadding='0' width='100%' border='0')
            tr
              td.site-block__title._wide(align='center')
                b
                  block title
            tr
              td.site-block__body._wide

                block content

        td(valign='top' width='200')
          include ../shared/sidebar_blocks/poll
          include ../shared/sidebar_blocks/admin-info
          include ../shared/sidebar_blocks/counters
          include ../shared/sidebar_blocks/online