| <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
| <html lang="ru-Ru">
head
  title Персональный дизайнерский сайт Silver Dragoon'а
  meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
  meta(name='robots' content='index,follow')
  meta(name='description' content="Персональный сайт Silver Dragoon'а(Артема Даньшина)")
  meta(name='keywords' content='silver dragoon, silverdragoon, персональный сайт')
  meta(name='copyright' content="(c) Artem Danshin(aka Silver Dragoon)")
  meta(name='revisit-after' content='1 days')
  link(rel='stylesheet', href='/assets/stylesheets/application.css')
  link(rel='stylesheet', href='/assets/stylesheets/personal.css')
body(background='/assets/images/themes/personal/fon.jpg')
  table(cellspacing=0 cellpadding=0 width=1024 border=0 align='center' style='height:100%;')
    tbody
      // Баннер
      tr
        td(valign='top' align='center' width=1024 rowspan=1 colspan=3 height=297 style="background:url('/assets/images/themes/personal/banner.png')")
      // Меню Левое
      tr
        td(align='left' width=230)
          table(cellspacing=0 cellpadding=0 width=230 border=0 style='height:100%;')
            tr
              td(align='center' valign='top' width=230 height=37 style="background:url('/assets/images/themes/personal/left1.png')")
            tr
              td(align='center' valign='top' width=230)
                table(cellspacing=0 cellpadding=0 width=230 border=0 style='height:74px;')
                  tr
                    td(align='left' valign='top' width=12 height=74 style="background:url('/assets/images/themes/personal/left21.gif')")
                    td(align='center' valign='top' width=207)
                      a.buttonL1(href='/personal')
                    td(align='right' valign='top' width=11 height=74 style="background:url('/assets/images/themes/personal/left23.gif')")
            tr
              td(align='center' valign='top' width=230 height=14 style="background:url('/assets/images/themes/personal/left3.gif')")
            tr
              td(align='center' valign='top' width=230)
                table(cellspacing=0 cellpadding=0 width=230 border=0 style='height:55px;')
                  tr
                    td(align='left' valign='top' width=4 height=55 style="background:url('/assets/images/themes/personal/left41.gif')")
                    td(align='center' valign='top' width=184)
                      a.buttonL2(href='/personal/projects')
                    td(align='right' valign='top' width=42 height=55 style="background:url('/assets/images/themes/personal/left43.gif')")
            tr
              td(align='center' valign='top' width=230 height=10 style="background:url('/assets/images/themes/personal/left5.gif')")
            tr
              td(align='center' valign='top' width=230)
                table(cellspacing=0 cellpadding=0 width=230 border=0 style='height:53px;')
                  tr
                    td(align='left' valign='top' width=11 height=53 style="background:url('/assets/images/themes/personal/left61.gif')")
                    td(align='center' valign='top' width=171)
                      a.buttonL3(href='#')
                    td(align='right' valign='top' width=48 height=53 style="background:url('/assets/images/themes/personal/left63.gif')")
            tr
              td(align='center' valign='top' width=230 height=10 style="background:url('/assets/images/themes/personal/left7.gif')")
            tr
              td(align='center' valign='top' width=230)
                table(cellspacing=0 cellpadding=0 width=230 border=0 style='height:50px;')
                  tr
                    td(align='left' valign='top' width=38 height=50 style="background:url('/assets/images/themes/personal/left81.gif')")
                    td(align='center' valign='top' width=140)
                      a.buttonL4(href='#')
                    td(align='right' valign='top' width=52 height=50 style="background:url('/assets/images/themes/personal/left83.gif')")
            tr
              td(align='center' valign='top' width=230 height=10 style="background:url('/assets/images/themes/personal/left9.gif')")
            tr
              td(align='center' valign='top' width=230)
                table(cellspacing=0 cellpadding=0 width=230 border=0 style='height:72px;')
                  tr
                    td(align='left' valign='top' width=5 height=72 style="background:url('/assets/images/themes/personal/left101.gif')")
                    td(align='center' valign='top' width=194)
                      a.buttonL5(href='/personal/feedback')
                    td(align='right' valign='top' width=31 height=72 style="background:url('/assets/images/themes/personal/left103.gif')")
            tr
              td(align='center' valign='top' width=230 height=10 style="background:url('/assets/images/themes/personal/left11.gif')")
            tr
              td(align='center' valign='top' width=230 height='100%' style="background:url('/assets/images/themes/personal/left12.gif')")
            tr
              td(align='center' valign='top' width=230 height=233 style="background:url('/assets/images/themes/personal/left13.png')")
        // Основная часть страницы
        td(width=564 height='100%' align='center')
          table(cellspacing=0 cellpadding=0 width=564 border=0 style='height:100%;')
            tr
              td(align='center' valign='top' width=564 height=18 rowspan=1 colspan=2 style="background:url('/assets/images/themes/personal/bodyban.gif')")
            tr
              td.personal-content(align='center' valign='top' width=564 height='100%' rowspan=1 colspan=2 bgcolor='fcdaad')

                block content

            // Нижние счетчики
            tr
              td(align='center' valign='middle' height=76 width=282 rowspan=1 colspan=1 bgcolor='fcdaad')
                img(src='/assets/images/ucoz-counter-new.jpg' height='31' width='88' alt='Счетчик')
              td(align='right' valign='top' height=252 width=282 rowspan=4 colspan=1 style="background:url('/assets/images/themes/personal/footer2.png')")
            tr
              td(align='left' valign='top' height=49 width=282 rowspan=1 colspan=1 style="background:url('/assets/images/themes/personal/footer11.gif')")
            tr
              td(align='left' valign='top' height=83 width=282 rowspan=1 colspan=1 style="background:url('/assets/images/themes/personal/footer12.png')")
            tr
              td(align='left' valign='top' height=44 width=282 rowspan=1 colspan=1)
        // Правое меню
        td(width=230 align='right')
          table(cellspacing=0 cellpadding=0 width=230 border=0 style='height:100%;')
            tr
              td(align='center' valign='top' width=230 height=129 style="background:url('/assets/images/themes/personal/right0.png')")
            tr
              td(align='center' valign='top' width=230 height=51 style="background:url('/assets/images/themes/personal/right1.gif')")
            tr
              td(align='center' valign='top' width=230)
                table(cellspacing=0 cellpadding=0 width=230 border=0 style='height:41px;')
                  tr
                    td(align='left' valign='top' width=34 height=41 style="background:url('/assets/images/themes/personal/right21.gif')")
                    td(align='center' valign='top' width=173)
                      a.buttonR1(href='http://kuntsevo-wow.ucoz.ru')
                    td(align='right' valign='top' width=23 height=41 style="background:url('/assets/images/themes/personal/right23.gif')")
            tr
              td(align='center' valign='top' width=230 height=3 style="background:url('/assets/images/themes/personal/right3.gif')")
            tr
              td(align='center' valign='top' width=230)
                table(cellspacing=0 cellpadding=0 width=230 border=0 style='height:43px;')
                  tr
                    td(align='left' valign='top' width=56 height=43 style="background:url('/assets/images/themes/personal/right41.gif')")
                    td(align='center' valign='top' width=165)
                      a.buttonR2(href='#')
                    td(align='right' valign='top' width=9 height=43 style="background:url('/assets/images/themes/personal/right43.gif')")
            tr
              td(align='center' valign='top' width=230 height=4 style="background:url('/assets/images/themes/personal/right5.gif')")
            tr
              td(align='center' valign='top' width=230)
                table(cellspacing=0 cellpadding=0 width=230 border=0 style='height:50px;')
                  tr
                    td(align='left' valign='top' width=16 height=50 style="background:url('/assets/images/themes/personal/right61.gif')")
                    td(align='center' valign='top' width=207)
                      a.buttonR3(href='/shana')
                    td(align='right' valign='top' width=7 height=50 style="background:url('/assets/images/themes/personal/right63.gif')")
            tr
              td(align='center' valign='top' width=230 height=30 rowspan=1 colspan=3 style="background:url('/assets/images/themes/personal/right7.gif')")
            tr
              td(align='center' valign='top' width=230 height='100%' rowspan=1 colspan=3 style="background:url('/assets/images/themes/personal/right8.gif')")
            tr
              td(align='center' valign='top' width=230 height=277 rowspan=1 colspan=3 style="background:url('/assets/images/themes/personal/right9.png')")
| </html>